@charset "utf-8";

/* nav 영역 */

.top_nav{
  height : 32px;
  display : flex;
  font-size : 12px;
  position : relative;
  /* left : 0; */
  /* top : 0; */
  width : 100%;
  z-index : 9999;
}



.logo{
  margin : 5px 0 0 0px;
}

/* 좌측 상단 네비게이션 */
.top_nav-nav01{
  margin-left : 20px;
  color : #fff;
  font-size : 14px;
}

.nav01-ul{
  display : flex;
  height : 32px;
}

.nav01-ul > li {
  height : 32px;
  line-height : 32px;
  margin-right: 20px;
  position : relative;
}

.top-str{
  display : inline;
  position : relative;
  z-index : 9999;
  font-weight : 500;
  cursor : default;
  font-size : 16px;
  line-height : 1;
}

@media (max-width : 500px){
  .top-str {
    font-size : 14px;
  }
}

@media (max-width : 350px){
  .nav01-ul > li {
    height : 32px;
    line-height : 32px;
    margin-right: 14px;
    position : relative;
  }
}

.nav01-ul > li:first-child > span{
  /* font-size : 14px; */
  font-weight : bold;
}

.top_bg{
  width : calc(100% + 30px);
  height : 32px;
  border-radius : 5px;
  background-color : rgb(47, 72, 109);
  position : absolute;
  top : 0;
  left : -15px;
  z-index : 0;
}


.top_isover{
  position : absolute;
  top : 32px;
  left : -15px;
  /* background-color :rgba(121, 121, 121,.95); */
  background-color :rgba(131, 131, 131, 0.98);
  border-radius: 5px;
  box-sizing: border-box;
  border : 1px solid #676767;
}

.top_isover > ul{
  border : 1px solid #939494;
  border-radius: 4px;
  box-sizing: border-box;
  padding : 4px 8px;
}

.top_isover > ul > li {
  width : 200px;
  padding : 5px 10px;
  box-sizing: border-box;
  font-size : 12px;
  line-height : 1;
  font-weight : 600;
  cursor : default;
  border-radius : 5px;
}

.top_isover > ul > li:hover{
  background-color : #558DEC;
  display : flex;
  justify-content : space-between;
}



.content_body01{
  height : calc(100vh - 32px);
  min-height : calc(100vh - 32px);
  overflow-y : auto;
  padding-bottom : 100px;
  background-color : #fff;
  border-radius : 15px;
  padding-left : 280px;
  box-sizing: border-box;
  position : absolute;
  width : 100%;
  left : 0;
  top : 32px;
  z-index: 1;
}

@media (max-width : 1200px) and (min-width : 320px){
  .content_body01 {
    padding-left : 0px;
  }
}

.content_body02{
  height : calc(100vh - 32px);
  min-height : calc(100vh - 32px);
  overflow : hidden;
  padding-bottom : 100px;
  background-color : #fff;
  border-radius : 15px;
  padding-left : 280px;
  box-sizing: border-box;
  position : absolute;
  width : 100%;
  left : 0;
  top : 32px;
  z-index: 1;
}

/* .Top_Box{
  overflow : hidden;
} */


/* App-Modal 서식 시작 */

.App-Modal_wrap{
  position : fixed;
  left : 0;
  top : 0;
  width : 100%;
  height : 100%;
  z-index : 9999;
}

.App-Modal{
  width : 360px;
  /* aspect-ratio : 1 / 1.618; */
  background-color : rgba(111, 111, 111, 0.98);
  position : absolute;
  left : 50%;
  top : 50%;
  transform : translate(-50%, -50%);
  border-radius: 10px;
  padding : 16px;
  box-sizing : border-box;
  overflow : hidden;
  border : 1px solid #939494;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
}


.App-Modal_header{
  display : flex;
  width : 100%;
}

.App-Modal .cir_btn{
  width : 16px;
  height : 16px;
}

.App-Modal .gray{
  color : #e5e5e5;
}

.App-Modal .cir_btn:hover .icon{
  display : block;
  width : 14px;
}

.Modal-logo{
  display : block;
  width : 61%;
  margin : 50px auto 32px auto;
}


.App-Modal_title{
  font-size : 28px;
  font-weight : bold;
  text-align : center;
  margin-bottom : 14px;
}

.Modal_p{
  text-align : center;
  margin : 12px 0;
  font-size : 16px;
}

.Modal_p.gray{
  color : #B9B9B9;
  font-size : 14px;
}

.Modal_desc{
  margin-top : 38px;
  font-size : 16px;
}

.Modal_desc{
  display : flex;
  gap : 16px;
  justify-content : center;
}

.desc-title_box{
  width : 41%;
}

.desc-desc_box{
  width : 54%;
}

.Modal-p_title{
  text-align : end;
  margin : 8px 0;
}

.Modal-p_desc{
  margin : 8px 0;
}

address{
  margin-top : 20px;
  text-align : center;
  line-height: 1.4;
}